<!DOCTYPE html>
<html data-ng-app="MyApp">
	<head>

		<title>Angular js - Forms validations </title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	<body>

		<!--container-->
		<div class="container">
      <br>
      <h4>
        Forms validation
      </h4>
      <hr>
      <br>


      <form ng-controller="formController" name="myForm" >

      <p>Username:<br>
      <input type="text" name="user" ng-model="user" required>
      <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
        <span>Username is required.</span>
      </span>
      </p>

      <p>Email:<br>
      <input type="email" name="email" ng-model="email" required>
      <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
      </span>
      </p>

      <p>
      <input type="submit"
      ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
      myForm.email.$dirty && myForm.email.$invalid">
      </p>

      </form>

		</div><!--container-->

		<!-- angular -->
		<script src="angular.min.js"></script>

		<!-- scope -->
		<script>
      var myApp = angular.module("MyApp",[]);

      // form controller
  		myApp.controller('formController', function($scope) {
        $scope.user="astm";
        $scope.email="astm@test.com";
  		})

		</script>

	</body>
</html>
